@import "tailwindcss";

:root {
  --font-sans: var(--font-satoshi);
}

@layer components {
  .text-title {
    @apply text-xl font-semibold tracking-tight;
  }

  .text-subtitle {
    @apply text-sm font-normal;
  }

  .text-body {
    @apply text-sm;
  }

  .text-caption {
    @apply text-xs text-text-secondary;
  }
}

@theme {

  /* COLORS */
  --color-accent-primary: rgb(39 99 235);
  --color-accent-secondary: rgb(249 115 22);

  --color-bg-primary: rgb(255 255 255);
  --color-bg-secondary: rgb(245 247 249);
  --color-bg-darker: rgb(212 216 219);
  --color-bg-light-blue: rgb(232 240 254);
  --color-bg-light-green: rgb(230 244 234);
  --color-bg-light-yellow: rgb(255 244 214);
  --color-bg-light-purple: rgb(243 232 253);
  --color-bg-light-orange: rgb(250 120 65);
  --color-bg-light-red: rgb(249 186 181);

  --color-success: rgb(34 197 94);
  --color-warning: rgb(234 179 8);
  --color-danger: rgb(239 68 68);

  --color-text-primary: rgb(57 58 68);
  --color-text-secondary: rgb(100 104 120);

  --color-green-icon: rgb(52 168 83);
  --color-blue-icon: rgb(26 115 232);
  --color-yellow-icon: rgb(244 180 0);
  --color-purple-icon: rgb(147 51 234);
  --color-orange-icon: rgb(248 96 31);
  --color-red-icon: rgb(234 60 44);

  --color-text-icon: rgb(100 104 120);

  --color-border: rgb(245 247 249);

  /* RADIUS */
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;

  /* SHADOW */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* ========================= */
/* DARK MODE */
/* ========================= */

[data-theme="dark"] {
  --color-bg-primary: 15 23 42;
  --color-bg-secondary: 30 41 59;

  --color-text-primary: 248 250 252;
  --color-text-secondary: 148 163 184;

  --color-border: 51 65 85;
}

body {
  @apply bg-bg-primary text-text-primary;
}
